.grad2{
    min-height: 81%;
    background-image: linear-gradient(#354BBD, #1aade7);
    color:white;
}
.grey {
    background-image: linear-gradient(to right, rgba(240, 240, 240, 0.438) , rgb(165, 165, 165));; 
}
/*
.web-body{
   padding-top: 3%;
}


.text-muted{
    color: white;
}*/