.title{
    padding-top: 5%;

}

.web-body{
    padding-left: 4%;
    padding-right: 4%;
}

.carousel-custom{
    height: 65%;
}

.card-body{
    color: black;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
 }