.grad1 {
    height: auto;
    min-height: 81%;
    background-image: linear-gradient(#354BBD, #0066d3);
    color: white;
}

.header{
    height: 10%;
    background-image: linear-gradient(#3A29A6, #354BBD);
    
}

.main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title{
    font-size: 150%;
}


.footer{
    height: 9%;
    background-image: linear-gradient(black, #1A1A1A);
    background-color: black;
    color: white;
}



.container-x{
    margin-left: 2%;
}

.nav-item{
    color: blue;
}

.carousel-inner > .carousel-item > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:100%;
    margin: auto;
}

