{% include 'web/header.html' %}

    <!--                                    Body area                                                      -->
    <div class="grad1">
      <div class="content">
        <div name="introduccion">
          <h2>¿Que pretendemos?</h2>
          <div class="section1"></div>
        </div>
      </div>
      
    </div>    
    <!--                                    End body area                                                  -->

{% include 'web/footer.html' %}

<!--                                        Scripts                                                        -->
